/.vs
src/ClubService/obj/Debug/net8.0/ClubService.AssemblyInfoInputs.cache
src/ClubService/obj/Debug/net8.0/ClubService.AssemblyInfoInputs.cache
src/ClubService/obj/Debug/net8.0/ClubService.AssemblyInfoInputs.cache
src/ClubService/obj/Debug/net8.0/ClubService.assets.cache
src/ClubService/obj/Debug/net8.0/ClubService.csproj.AssemblyReference.cache
src/ClubService/obj/Debug/net8.0/ClubService.csproj.CoreCompileInputs.cache
src/ClubService/obj/Debug/net8.0/ClubService.csproj.FileListAbsolute.txt
src/ClubService/obj/project.nuget.cache
